#root {
  
  margin: 0 auto;
  
  text-align: center;
}
body{
}


.card {
  padding: 2em;
}
img{
  width: 150rem;
}
.checkoutStepper{
  margin: 0 auto;
  max-width: 1280px;
}
li{
  list-style: none;
  background-color: rgba(3, 192, 120,0.2);
  margin: 5px auto 5px auto;
  text-align: center;
  padding: 15px;
}
button{
  
}
.listImg{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.mantine-Grid-col{
 
 padding-top:2rem;
}