.mantine-Carousel-indicator{
background-color: rgb(42, 157, 165) !important;
}
.indicator {
    width: rem(12px);
    height: rem(4px);
    transition: width 250ms ease;
}
.mantine-Carousel-control{
    background-color: rgb(26, 108, 184, 0.5) !important;
}
.gridLabels{
    background-color: antiquewhite;
    background-image: url('../public/20230811_094713.jpg');
}

.mantine-Card-root, .mantine-Paper-root{
  
    
    margin: 0 auto;
}
.mantine-Image-root{
    
}
.mantine-Carousel-container{
    height: inherit;
}
th{
    text-align:center !important;
}
.latest{
    
  }

#navbar button{
    float:right;
    background-color: rgb(78, 160, 103) !important;
    
    
}
#navbar{
    text-align: left;
}
#logo{
    height: 32px;
    background-color: antiquewhite;
    border-radius:50% ;
    padding: 5px;
}

#navlist{
    margin-top: 2rem;
    margin-left: 5rem;
}
.mantine-Table-tr{
    max-height: 20rem;
}
.mantine-Accordion-content ul li{
    background-color: white;
}
.mantine-Accordion-content,.mantine-Accordion-content ul,.mantine-Accordion-content ul li,.mantine-Accordion-content ul li li{
    min-width: 20rem;
    text-align: left;
    margin:0;
    padding: 0;
}
.mantine-Accordion-label{
    min-width:20rem ;
}
@media screen and (max-width:767px) {
    main{
        max-width: 100vw;
    }
    .mantine-AppShell-navbar{
    max-width: 80vw;    
    }
    .mantine-Carousel-viewport{
        max-width: 100vw;
    }
    .mantine-Card-root{
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        max-height: 450px;
        
    }
    .latest,.mantine-Carousel-container{
        max-height: 450px;
    }
    .mantine-Modal-root,.mantine-Modal-inner{
        --modal-size:100%;
    }
    .mantine-Modal-inner{
        margin: auto;

    }
    .mantine-Grid-col img{
        max-width: 15rem;
        max-height: 15rem;
    }
    .mantine-Tabs-list{
        justify-content: space-around !important;
    }
    .mantine-Table-table{
        max-width: 80vw;
        overflow-x: auto;
    }
    .mantine-Table-td, .mantine-Table-th{
        min-width: 10rem;
    }
    .tableWrapper{
        max-width: 100vw;
        overflow-x: scroll;
    }
    
}